body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

#mainDiv
{
    width: 100%;
}

.sidePanel 
{
    height: 100%; 
    width: 0%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.5s;
}

#settingsSidePanelContent
{
    padding: 8px 8px 8px 32px;
    margin-left: 1rem;
    margin-bottom: 3.5rem;
    opacity: 0;
    transition: opacity 0.25s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

input
{
    width: 25px;
    background-color: transparent;
    border-width: 0px;
    outline: 0px;
    color: white;
}

button
{
    background-color: transparent;
    border-width: 0px;
    outline: 0px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover
{
    background-color: dodgerblue;
}

button:active
{
    background-color: rgb(6, 115, 224);
}

.topPanel 
{
    height: 12%; 
    width: 20%; 
    position: fixed; 
    z-index: 2;
    top: -200px;
    background-color: rgb(32, 32, 32); 
    overflow-x: hidden; 
    transition: 0.25s ease-in-out;
}

.notificationsPanel
{
    height: 12% fit-content; 
    width: fit-content; 
    position: fixed; 
    z-index: 3;
    top: -200px;
    background-color: rgb(32, 32, 32); 
    overflow-x: hidden; 
    transition: 0.25s ease-in-out;
}

#closeSettingsSidePanel
{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    cursor: pointer;
}

.inputGroup
{
    position: relative;
    --color: #ffffffcf;
    margin-top: 2rem;
}

.materialInput
{
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #ffffffcf;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.inputLabel
{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    font-size: 18px;
}

.materialInput:focus + .inputLabel,
.materialInput:not(:placeholder-shown) + .inputLabel
{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    --color: #527dff;
}

.switch 
{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider 
{
    background-color: #2196F3;
}

input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round 
{
    border-radius: 34px;
}

.slider.round:before 
{
    border-radius: 50%;
}

.notransition 
{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#bottomSettingsPanel 
{
    height: 6.5%; 
    width: 100%; 
    position: fixed; 
    z-index: 1;
    bottom: -200px;
    background-color: rgb(32, 32, 32); 
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 1s ease-in-out;
}