html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background-color: black;
    color: white;
}

#mainContent
{
    margin: 1rem;
    transition: 0.75s all cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
}

audio
{
    display: none;
}

button
{
    display: block;
    font-size: large;
    color: black;
    padding: 22px 16px;
    width: 10%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

button:hover
{
    background-color: gray;
}

.center
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPanel 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 12%;
    width: 20%;
    position: fixed;
    z-index: 2;
    top: -200px;
    background-color: rgba(32, 32, 32, 0.7);
    backdrop-filter: blur(4px);
    overflow-x: hidden;
}